body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 20vh auto;
  max-width: 60ch;
  background: #f4ffff;
  color: #014;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

a {
  font-weight: bold;
  padding-inline-end: 1ch;
}