body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  margin: 20vh auto;
  max-width: 60ch;
  background: #fffff4;
  color: #331;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}


button {
  border: none;
  background: #651;
  color: white;
  font: inherit;
  font-weight: bold;
  border-radius: 0.25rem;
}
button:hover, button:focus-visible {
  background: #763;
}

dialog {
  z-index: 1;
}

form {
  display: inline-block;
  margin: 0;
}