body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  margin: 5vmin auto;
  padding: 0 1rem;
  max-width: 80rem;
  font-size: 1.034rem;
  line-height: 1.6;
  background: #f0f4f8;
  color: #237;
}

* {
  box-sizing: border-box;
}

.footer,
h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
  padding-inline-start: 0.5rem;
  border-inline-start: solid 0.25rem currentColor;
}
h3 {
  font-size: 1.1rem;
  padding-inline-start: 0.5rem;
  border-inline-start: solid 0.125rem currentColor;
}

.stronger {
  color: #d40;
}

p,
ol,
ul,
.code {
  max-width: 40rem;
}

section {
  margin: 4rem 0;
}
@media (max-width: 60rem) {
  section {
    margin: 3rem 0;
  }
}
section section {
  margin: 2rem 0;
}
section:has(:target):not(:has(section :target)) {
  animation: flash 4s ease-in backwards;
}
@keyframes flash {
  from {
    background-image: linear-gradient(to right, #fec, transparent 50%);
    background-size: 200% 100%;
    background-position: 0 0;
  }
  to {
    background-image: linear-gradient(to right, #fec, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
  }
}

.title-decor {
  font-variant-ligatures: none;
  opacity: 0.6;
  color: #0bd;
}

.title {
  text-align: center;
  margin-bottom: 0;
}
.title .title-decor {
  display: inline-block;
  width: 2ch;
  text-align: start;
}
.title-arrow {
  transform: translateX(50%);
  clip-path: inset(0 50% 0 0);
  animation: titleArrow 0.4s steps(4);
}
@keyframes titleArrow {
  from {
    transform: translateX(-50%);
    clip-path: inset(0 -50% 0 0);
  }
}
.title-arrowhead {
  clip-path: inset(0 0 0 0);
  animation: titleArrowHead 0.4s steps(4);
}
@keyframes titleArrowHead {
  from {
    transform: translateX(-100%);
    clip-path: inset(0 0 0 100%);
  }
}

.intro {
  margin-left: auto;
  margin-right: auto;
}

.heading-icon {
  margin: 0 1rem;
  float: right;
  text-shadow: 0 0 1px currentColor, 0 -1px 0 currentColor, 0 1px 0 currentColor,
    -1px 0 0 currentColor, 1px 0 0 currentColor;
}

.footer {
  font-size: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) min-content minmax(0, 1fr);
  align-items: center;
  gap: 1.5ch;
  white-space: nowrap;
  overflow: hidden;
}
.footer > .support {
  display: flex;
  justify-content: end;
  opacity: 0.3;
  font-size: 55%;
  visibility: hidden;
}
.footer > .support ~ .support {
  justify-content: start;
}
.footer > h1 {
  margin: 0;
  display: inline-block;
}
.footer .title-decor {
  transition: opacity 0.2s, color 0.2s;
}
@media (min-width: 60rem) {
  .footer > .support {
    visibility: visible;
  }
  .footer.idle .title-decor {
    opacity: 0.3;
    color: inherit;
  }
}
.footer .support.entering {
  animation: heroSupportEntering 0.3s both ease-out;
}
.footer .support.exiting {
  animation: heroSupportExiting 0.3s both ease-in;
}
@keyframes heroSupportEntering {
  from {
    transform: translateX(-1ch);
    opacity: 0;
  }
}
@keyframes heroSupportExiting {
  to {
    opacity: 0;
  }
}

.subtitle {
  display: block;
  text-align: center;
}

.panel {
  border: none;
  border-bottom: solid 1px #0002;
  background: #f8fcff;
  border-radius: 0.5rem;
}

.code {
  padding: 0 0.25rem;
  background: #2e343f;
  color: #ddd;
  border-radius: 0.25rem;
}
.code.wide {
  white-space: pre;
  overflow: auto;
  max-width: unset;
}
pre.code {
  padding: 0.5rem;
  white-space: pre-wrap;
  word-break: break-all;
  border-radius: 0.5rem;
}
pre.code:has(code) {
  padding: 0;
  overflow: auto;
}
pre.code code {
  display: block;
  padding: 0.5rem !important;
  background: none;
}
.code i,
.code-term {
  font-style: normal;
  color: #fd0;
}
.code b,
.code-attention {
  font-weight: normal;
  color: #6ef;
}
.code-comment {
  color: #ddd;
  opacity: 0.6;
}
.code-target {
  color: #f86;
}
.code-template {
  color: #cfc;
}
.code-token {
  color: #acf;
}

.demos-section > [role="tablist"] > [role="tab"] {
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem;
  border-bottom: solid 1px #0002;
  background: #f8fcff;
  border-radius: 0.5rem;
}
.demos-empty {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

#demos-tab-panel {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-rows: max-content 1fr;
  align-content: center;
  gap: 0.25rem 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  min-height: 25rem;
}
@media (max-width: 80rem) {
  #demos-tab-panel {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: max-content max-content max-content max-content;
  }
}
#demos-tab-panel .code {
  margin: 0;
  white-space: pre;
  overflow: auto;
  max-width: none;
}

.demo-header {
  border: none;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
}
.demo-multi-code {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}
.demo-result {
  min-height: 15rem;
  background: white;
  border: inset 2px #dde;
  border-radius: 3px;
  color: black;
  overflow: auto;
}

.highlights-section {
  display: flex;
  gap: 1rem;
}
.highlights-section > div {
  flex: 1 0;
}
@media (max-width: 60rem) {
  .highlights-section {
    flex-direction: column;
  }
}

.mission {
  padding: 1rem;
}

@supports (background-clip: text) {
  pre.code code.rainbow-mask {
    display: inline-block;
    background-size: 215% 100%;
    background-clip: text;
    color: #fffd;
    animation: rainbow-mask 4s linear infinite;
  }
}

@keyframes rainbow-mask {
  from {
    background-image: linear-gradient(135deg in hsl longer hue, red, red 50%);
  }
  to {
    background-image: linear-gradient(135deg in hsl longer hue, red, red 50%);
    background-position: 100% 0;
  }
}

.examples-photo-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: repeat(2, min-content);
  gap: 1rem;
}
.examples-photo-grid img {
  width: 100%;
  object-position: top;
  object-fit: cover;
  border: solid 1px #0001;
  border-bottom-color: #0002;
}
.calendar-screenshot {
  grid-row: span 2;
}
@media (max-width: 80rem) {
  .examples-photo-grid {
    grid-template-columns: minmax(0, 32rem);
    grid-template-rows: repeat(4, min-content);
  }
}